.board {
  width: 25%;
}
.board-ellipses {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.board-title-input {
  outline: none;
  border: 1.4px solid #fff;
  font-weight: bold;
}

.board-title {
  display: flex;
  justify-content: space-between;
}
